@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alegreya+SC:ital,wght@0,400;0,500;1,400;1,500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --dark-pink: #d991a4;
    --light-pink: #f2bdcb;
    --tan: #d9a273;
    --light-brown: #8c4d2a;
    --dark-brown: #400d01;
    --white: #ffffff;
    --black: #000000;
}

/* Custom CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-brown);
        color: var(--white);
    }

    .off-screen-menu {
        background-color: var(--dark-brown);
        color: var(--light-pink);
    }

    nav {
        background-color: var(--dark-brown);
        color: var(--light-pink);
    }

    footer {
        background-color: var(--dark-brown);
        color: var(--white);
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--white);
        color: var(--dark-pink);
    }

    .off-screen-menu {
        background-color: var(--light-brown);
        color: var(--light-pink);
    }

    nav {
        background-color: var(--light-brown);
        color: var(--light-pink);
    }

    footer {
        background-color: var(--light-brown);
        color: var(--white);
    }
}

/* Main */
body {
    font-family: "Afacad", sans-serif;
    background-color: var(--white);
    color: var(--dark-pink);
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100vw;
}

main {
    padding: 1rem 2rem;
}

.title {
    position: relative;
    width: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    color: var(--dark-pink);
    text-align: center;
    margin: 1rem 0;
}

h1 {
    flex: auto;
    font-size: 3rem;
    color: var(--light-pink);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

/* offscreen menu */
.off-screen-menu {
    color: var(--light-pink);
    background-color: var(--light-brown);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
}

.off-screen-menu.active {
    right: 0;
    z-index: 1000;
}

nav {
    color: var(--light-pink);
    padding: .5rem;
    display: flex;
    align-items: center;
    background-color: var(--light-brown);
}

.off-screen-menu a {
    color: var(--light-pink);
    text-decoration: none;
}

.off-screen-menu li:hover {
    /* padding: .5rem; */
    color: var(--dark-pink);
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--light-pink);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Image Slider */

.slider-wrapper {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;

}

.slider {
    display: flex;
    width: 100%;
    height: 75vh;
    object-fit: fill;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 0 10px var(--dark-pink);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .05rem;
    height: .05rem;
    border-radius: 50%;
    background-color: var(--dark-pink);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Featured Review Cards */
.featured-reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}

.featured-reviews .review-card {
    color: var(--dark-brown);
    background-color: var(--tan);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    transition: 0.3s ease;
}

.featured-reviews .review-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--dark-pink);
}

.featured-reviews .review-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.featured-reviews .review-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.featured-reviews .review-card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/*Product List  */
.product-link a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: var(--dark-brown);
    background-color: var(--dark-pink);
    padding: 1rem 2rem;
    margin: 1rem auto;
    display: block;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: 0.3s ease;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}

.product-list .product-card {
    background-color: var(--white);
    border: solid .5rem var(--light-brown);
    border-style: solid;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    transition: 0.3s ease;
}

.product-list li {
    list-style: none;
    margin: auto;
    padding: 1rem;
}

.product-list .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--dark-brown);
}

.product-list .product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product-list .product-card h3 {
    color: var(--dark-pink);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.product-list .product-card p {
    color: var(--dark-brown);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.product-list .product-card button {
    background-color: var(--dark-pink);
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.product-list .product-card button:hover {
    background-color: var(--light-pink);
    color: var(--dark-brown);
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--dark-pink);
}

.product-list .product-card button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px var(--dark-pink);
}

.product-list .product-card button:focus {
    outline: none;
    box-shadow: 0 0 10px var(--dark-pink);
}

.product-list .product-card button:disabled {
    background-color: var(--dark-brown);
    color: var(--white);
    cursor: not-allowed;
    box-shadow: none;
}

.product-list .product-card button:disabled:hover {
    background-color: var(--dark-brown);
    color: var(--white);
    transform: none;
    box-shadow: none;
}

.product-list .product-card button:disabled:active {
    transform: none;
    box-shadow: none;
}

.product-list .product-card button:disabled:focus {
    outline: none;
    box-shadow: none;
}

/* Social Media SVG Links */
.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.social-media-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--dark-pink);
    font-size: 2rem;
    transition: 0.3s ease;
}


/* Product Summary */
.product-summary {
    background-color: var(--light-brown);
    color: var(--white);
    border: solid 0.5rem var(--dark-pink);

    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--dark-pink);
}

.product-summary h2,
h3,
h4 {
    color: var(--light-pink);
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
}

.product-summary img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px var(--dark-pink);
}

#product-price {
    text-align: center;
    font-weight: bold;
}

/* Request Form */
.request-form {
    background-color: var(--light-brown);
    color: var(--white);
    border: solid 0.5rem var(--dark-pink);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--dark-pink);
}

.request-form h2 {
    color: var(--light-pink);
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
}

.request-form form {
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 2rem 0;
}

.request-form form input,
.request-form form textarea {
    background-color: var(--white);
    color: var(--dark-brown);
    border: solid 0.3rem var(--dark-pink);
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    transition: 0.3s ease;
}

.request-form form input:focus,
.request-form form textarea:focus {
    outline: none;
    box-shadow: 0 0 10px var(--dark-pink);
    transition: 0.3s ease;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.request-form button {
    background-color: var(--dark-pink);
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.request-form button:hover {
    background-color: var(--light-pink);
    color: var(--dark-brown);
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--dark-pink);
}

.request-form button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px var(--dark-pink);
}

.request-form button:focus {
    outline: none;
    box-shadow: 0 0 10px var(--dark-pink);
}

.request-form button:disabled {
    background-color: var(--dark-brown);
    color: var(--white);
    cursor: not-allowed;
    box-shadow: none;
}

.request-form button:disabled:hover {
    background-color: var(--dark-brown);
    color: var(--white);
    transform: none;
    box-shadow: none;
}

.request-form button:disabled:active {
    transform: none;
    box-shadow: none;
}

.request-form button:disabled:focus {
    outline: none;
    box-shadow: none;
}



/* Footer */
footer {
    background-color: var(--light-brown);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer svg {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    fill: var(--white);
    transition: 0.3s ease;
}

footer svg:hover {
    fill: var(--dark-pink);
    transform: scale(1.1);
}

footer a {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s ease;
}

footer a:hover {
    color: var(--dark-pink);
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.3s ease;
}

footer a:active {
    transform: scale(0.95);
    transition: 0.3s ease;
}

footer a:focus {
    outline: none;
    box-shadow: 0 0 10px var(--dark-pink);
    transition: 0.3s ease;
}

footer a:visited {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s ease;
}

footer a:visited:hover {
    color: var(--dark-pink);
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.3s ease;
}

footer a:visited:active {
    transform: scale(0.95);
    transition: 0.3s ease;
}

footer a:visited:focus {
    outline: none;
    box-shadow: 0 0 10px var(--dark-pink);
    transition: 0.3s ease;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }

    .slider-wrapper {
        width: 100%;
    }

    .slider {
        height: 50vh;
    }

    .slider img {
        height: 100%;
    }

    .slider-nav {
        bottom: 1rem;
    }

    .featured-reviews,
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .featured-reviews h3 {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    #product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: dense;
        gap: 2rem;
    }

    #product-list li {
        display: grid;
        align-items: start;
        width: 100%;
        height: 100%;
    }

    #product-list li img {
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: hidden;
        object-fit: cover;
        align-self: baseline;
    }

    .product-card-actions {
        align-self: end;
    }

    /* Product Summary */
    #product-summary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    #product-summary img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .order-summary {
        text-align: center;
    }

    /* Form */


    /* Footer */
    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

}


@media screen and (min-width: 1280px) {
    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    header {
        background-color: var(--light-brown);
        display: grid;
        grid-template-columns: auto 60vw;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    header ul {
        font-size: 2rem;
        display: flex;
        width: 100%;
        margin: auto;
        padding: 1rem 0;
    }

    header li {
        display: inline-block;
        list-style-type: none;
        flex-wrap: nowrap;
        margin: 0 1rem;
        list-style: none;
    }

    .ham-menu {
        display: none;
    }

    .off-screen-menu {
        display: flex;
        position: relative;
        height: auto;
        width: auto;
        left: 0;
    }

    /* Product Link resize */

    .product-link a {
        width: 75vw;
    }

    /* Product Summary */
    #product-summary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .order-summary {
        text-align: center;
    }

    /* form */
    .request-form-container {
        display: grid;
        margin: auto;
        align-items: center;
        width: 60vw;
    }

    .request-form form {
        display: grid;
        width: 50vw;
        grid-gap: 1rem;
        margin: 2rem 0;
    }
}